body{
    margin: 0;
    background-color: lightseagreen;
}

.container{
    width: 500px;
    position: absolute;
    text-align: center;
    left: 50%;
    right: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.input-section{
   padding-bottom: 20px;
}
.input-section input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

input::placeholder{
    font-size: medium;
}

ul li{
    list-style: none;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

ul{
    text-align: left;
    padding: 0;
}

.deleteModal{
    text-align: right;
    flex: 1;
    cursor: pointer;
    color: red;
}

.no-data{
    color: whitesmoke;
    text-align: center;
}

.validation{
    color: red;
    font-size: large;
    font-weight:1000
}

.title{
    padding-bottom: 20px;
}